:root{
    --green: #486749;
    --orange: #AF7845;
    --yellow: #F2CF6C;
    --white: #D9D1AF;
    --light-green: #BBBC8C;
    --black-green: #677257;
    --concrete: #344340;
    --black-eld: #202829;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.indice-tarjetas {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.indice-tarjetas a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    text-decoration: none;
    background-color: var(--concrete);
    padding: 10px 20px;
    border-radius: 5px;
}

.indice-tarjetas a:hover{
    background-color: var(--black-green);
    transform: scale(1.05);
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
}

.profile-photos {
    display: flex;
    gap: 16px;
}
.highlight {
    background-color: yellow;
    padding: 2px 4px;
}

h1 {
    color: var(--black-eld);
}

header{
    background-color: var(--green);
    color: var(--white);
    padding: 10px 20px;
}

footer {
    background-color: var(--concrete);
    color: var(--white);
    padding: 10px 20px;
}