.about-me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right:5%;
    gap: 100px;
    padding-top: 5%;
}

#about-me1 {
    width: 40%;
}
#about-me2 {
    width: 35%;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 5%;
}

.social img:hover{
    transform: scale(1.05);
}

.social i{
    color: black;
    font-size: xx-large;
}

.social i:hover{
    color: white;
    font-size: xx-large;
}

.interest {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}

.interest i{
    color: var(--light-green);
    font-size: xx-large;
    padding-bottom: 20px;
}

.interest figure{
    background-color: var(--concrete);
    color:var(--light-green); 
    padding: 50px 30px;
    border-radius: 5px;
    text-align: center;
}

.interest figure:hover{
    background-color: var(--black-eld);
    transform: scale(1.05);
}

#profile-photo {
    justify-self: center;
    clip-path: circle(55% at center);
}

#name {
    text-align: center;
    font-size: xx-large;
    margin: 0;
}

#f-description {
    text-align: center;
    font-size: large;
    font-style: italic;
}

#computer-science{
    color: darkred;
}